alembic==1.13.1
bidict==0.23.1
blinker==1.7.0
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
debugpy==1.8.1
easyocr==1.7.1
et-xmlfile==1.1.0
filelock==3.13.4
Flask==3.0.2
Flask-Migrate==4.0.7
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
fonttools==4.51.0
fpdf==1.7.2
fsspec==2024.3.1
greenlet==3.0.3
h11==0.14.0
idna==3.7
imageio==2.34.1
ipykernel==6.29.2
itsdangerous==2.1.2
Jinja2==3.1.3
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
lapx==0.5.7
lazy_loader==0.4
Mako==1.3.2
MarkupSafe==2.1.5
matplotlib==3.8.4
mpmath==1.3.0
mysql-connector-python==8.3.0
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.0
packaging==24.0
pandas==2.2.1
pillow==10.3.0
psutil==5.9.8
py-cpuinfo==9.0.0
pyclipper==1.3.0.post5
pyparsing==3.1.2
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
reportlab==4.1.0
requests==2.31.0
scikit-image==0.23.2
scipy==1.13.0
seaborn==0.13.2
shapely==2.0.4
simple-websocket==1.0.0
six==1.16.0
SQLAlchemy==2.0.29
sympy==1.12
thop==0.1.1.post2209072238
tifffile==2024.4.18
torch==2.2.2
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
ultralytics==8.2.2
urllib3==2.2.1
Werkzeug==3.0.2
wsproto==1.2.0
