<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Stylesheets -->
        
        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- jQuery UI - assurez-vous d'inclure à la fois le JS et le CSS -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    
        <!-- DataTables JS (Dépend de jQuery) -->
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
        <!-- Leaflet JS (Pour les cartes) -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/newdash.css') }}">
        <style>
            .positive {
                color: green;
            }
            .negative {
                color: red;
            }
            .stat-card {
                border: 1px solid #ddd;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                display: flex;
                align-items: center;
            }
            .icon-bg {
                margin-right: 15px;
            }
            .stat-details {
                flex-grow: 1;
            }
            .btn-info {
                margin-top: 10px;
            }
        </style>
</head>
<body>
   
    
    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='images/Arriere-plan.png') }}" alt="TotalEnergies" class="logo">
            </div>
            <ul class="sidebar-menu">
                <li class="sidebar-item active"><a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li class="sidebar-item"><a href="{{ url_for('charts_jour') }}"><i class="fas fa-chart-bar"></i> Statistiques</a></li>
                <li class="sidebar-item"><a href="{{ url_for('DragAndDrop') }}"><i class="fas fa-upload"></i> Upload Data</a></li>
                <li class="sidebar-item"><a href="{{ url_for('dashboard') }}"><i class="fas fa-coffee"></i> Coffe shop</a></li>
                <li class="sidebar-item"><a href="{{ url_for('PowerBiDash') }}"><i class="fas fa-map"></i> Vision BI</a></li>
                <li class="sidebar-item"><a href="{{ url_for('streamlite') }}"><i class="fas fa-map-marked-alt"></i> Rapports</a></li>
                <li class="sidebar-item"><a href="{{ url_for('ajoutUser') }}"><i class="fas fa-map-marked-alt"></i> Gestion D'utilisateurs</a></li>
            </ul>
        </nav>
        
        <div class="main-content">
            <header class="header">
                <div class="header-content">
                    <h1>DASHBOARD</h1>
                    <p>ANALYSE DES DONNEES</p>
                </div>
                <div class="station-title" id="station-title">
                    <!-- Le titre mis à jour apparaîtra ici -->
                </div>
                <div class="header-icons">
                    <i class="fas fa-bell"></i>
                    <div class="profile-pic">
                        <img src="{{ url_for('static', filename='images/Calque2.png') }}" alt="Profile">
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="top-container">
                    <div class="dropdown-container">
                        <div class="dropdown-group">
                            <label for="governorate">GOUVERNORAT</label>
                                <select id="governorate" name="governorate" onchange="updateTitle()">
                                    <option value="Grand Tunis">GRAND TUNIS</option>
                                    <option value="Ariana">ARIANA</option>
                                    <option value="Bizerte">BIZERTE</option>
                                    <!-- Ajoutez d'autres options ici -->
                                </select>
                            </div>
                            <div class="dropdown-group">
                                <label for="station-id">ID STATION</label>
                                <select id="station-id" name="station-id" onchange="updateTitle()">
                                    <option value="Total N9-03">TOTAL N9-03</option>
                                    <option value="Total N8-01">TOTAL N8-01</option>
                                    <option value="Total S5-04">TOTAL S5-04</option>
                                    <!-- Ajoutez d'autres options ici -->
                                </select>
                        </div>
                    </div>
                    
                    <div class="icon-container">
                        <button class="calendar-btn">
                            <i class="fas fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
                
                <div class="stats-container">
                    <div class="stat-card">
                        <div class="icon-bg"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Money Icon"></div>
                        <div class="stat-details">
                            <h3>Nombre de véhicules actuel</h3>
                            <p class="stat-value">197<span class="percentage positive">+55%</span></p>
                        </div>
                    </div>
                    <div class="stats-container">
                        
                        <div class="stat-card" id="notificationCard">
                            <div class="tnc-icon-bg">
                                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Clients Icon">
                            </div>
                            <div class="tnc-stat-details">
                                <h3>Notifications et Alertes</h3>
                                <div id="notificationMessages">
                                    <p class="tnc-stat-value">Aucune notification pour le moment.</p>
                                </div>
                                <button class="tnc-btn-info" id="viewDetailsButton" style="display: none;" onclick="openModal()">Voir les détails</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Modale pour afficher les détails de l'utilisateur -->
                    <div class="tnc-modal" id="userDetailsModal">
                        <div class="tnc-modal-dialog">
                            <div class="tnc-modal-content">
                                <div class="tnc-modal-header">
                                    <h5 class="tnc-modal-title">Détails de l'Utilisateur</h5>
                                    <button type="button" class="tnc-close" onclick="closeModal()">&times;</button>
                                </div>
                                <div class="tnc-modal-body" id="userDetailsBody">
                                    <!-- Détails de l'utilisateur à remplir dynamiquement -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat-card">
                        <div class="icon-bg"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Clients Icon"></div>
                        <div class="stat-details">
                            <h3>Notifications et Alertes</h3>
                            <p class="stat-value">Pompe 9 est vide <span class="percentage negative">-2%</span></p>
                        </div>
                    </div>
                </div>
                
                               
                    <div id="filter-container">
                        <div id="zone-filters">
                            <button class="zone-tab active" data-zone="Pompe" onclick="showZone('Pompe')">Pompe</button>
                            <button class="zone-tab" data-zone="Lavage" onclick="showZone('Lavage')">Lavage</button>
                            <button class="zone-tab" data-zone="Air" onclick="showZone('Air')">Air</button>
                        </div>
                        <div id="date-filter-container">
                            <label for="date-filter">
                                <i class="fas fa-calendar-alt calendar-icon"></i>
                                <input type="date" id="dateInput">
                            </label>
                            <button id="filter-button">Filtrer</button>
                        </div>
                    </div>
                
                    <div class="filter-section">
                        <div class="stats-container1" id="zone-container">
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #0087fe;">
                                    <img src="{{ url_for('static', filename='images/Calquecamion.png') }}" alt="Small Truck Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Small Truck</span>
                                    <span class="stat-value" id="small-truck-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #69d1fa;">
                                    <img src="{{ url_for('static', filename='images/Calquemoto.png') }}" alt="Motorcycle Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Motorcycle</span>
                                    <span class="stat-value" id="motorcycle-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #83c3cd;">
                                    <img src="{{ url_for('static', filename='images/Calquebigtruck.png') }}" alt="Big Truck Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Big Truck</span>
                                    <span class="stat-value" id="big-truck-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #225e93;">
                                    <img src="{{ url_for('static', filename='images/claqueCar.png') }}" alt="Car Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Car</span>
                                    <span class="stat-value" id="car-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #fdd700;">
                                    <img src="{{ url_for('static', filename='images/claquetaxi.png') }}" alt="Taxi Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Taxi</span>
                                    <span class="stat-value" id="taxi-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #2abfc2;">
                                    <img src="{{ url_for('static', filename='images/claqueCM.png') }}" alt="Construction Machine Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Construction Machine</span>
                                    <span class="stat-value" id="construction-machine-value">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                
                <h1>Daily Statics</h1>
                

                <div class="container-charts">
                    
                    <div class="chart-container-green">
                        <h2 class="chart-title-green">Top Fidèles Clients</h2>
                        <div id="pyramid-chart-container" class="green-chart">
                            <!-- Place your chart content here -->
                        </div>
                    </div>
                    
                    
                    <div class="chart-container">
                        <h2 class="chart-title">Nombre Total de Véhicules par Heure</h2>
                        <canvas id="vehiclesHourChart"></canvas>
                    </div>
                
            </div>
                <div id="filters">
                    <label for="type-filter">Station Area:
                        <select id="type-filter">
                            <option value="">Tous</option>
                            <option value="Entrée">Entrée</option>
                            <option value="Sortie">Sortie</option>
                            <option value="Pompes">Pompes</option>
                            <option value="Air">Air</option>
                            <option value="Lavage">Lavage</option>
                        </select>
                    </label>
                    <label for="date-filter">Date:
                        <input type="date" id="date-filter">
                    </label>
                    <button id='button-id'>Filtrer</button>
                </div>

                <div class="dashboard-container">
                    <table id="example" class="display">
                        <thead>
                            <tr>
                                <th>track_id</th>
                                <th>class</th>
                                <th>license_plate_text</th>
                                <th>score LP</th>
                                <th>pompes_info</th>
                                <th>date d'entrée</th>
                                <th>date de sortie</th>
                                <th>wait_time</th>
                                <th>Image du véhicule</th>
                                <th>Image de la plaque</th>
                                <th>TotalZone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td><a href="#" class="track-info" data-track-id="{{ row['track_id'] }}">{{ row['track_id'] }}</a></td>
                                <td>{{ row['class'] }}</td>
                                <td>{{ row['license_plate_text'] }}</td>
                                <td>{{ row['score LP'] }}</td>
                                <td>{{ row['pompes_info'] }}</td>
                                <td>{{ row['date d\'entrée'] }}</td>
                                <td>{{ row['date de sortie'] }}</td>
                                <td>{{ row['wait_time'] }}</td>
                                <td>
                                    {% if row['Car Image'] %}
                                        <a href="#" onclick="openImageWindow('{{ url_for('static', filename=row['Car Image']) }}');">Voir Image du véhicule</a>
                                    {% else %}
                                        Pas d'image
                                    {% endif %}
                                </td>
                                <td>
                                    {% if row['License Plate Image'] %}
                                        <a href="#" onclick="openImageWindow('{{ url_for('static', filename=row['License Plate Image']) }}');">Voir Image de la plaque</a>
                                    {% else %}
                                        Pas d'image
                                    {% endif %}
                                </td>
                                <td>{{ row['ZoneTotal'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                   
                </div>

                <div id="detailsModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Détails de la Piste</h2>
                        <div class="modal-body">
                            <div class="modal-info">
                                <p><b>Track ID:</b> <span id="modalTrackId"></span></p>
                                <p><b>Class:</b> <span id="modalClass"></span></p>
                                <p><b>LP Text:</b> <span id="modalLPText"></span></p>
                                <p><b>Score LP:</b> <span id="modalScoreLP"></span></p>
                                <p><b>Date d'entrée:</b> <span id="modalEntryDate"></span></p>
                                <p><b>Date de sortie:</b> <span id="modalExitDate"></span></p>
                                <p><b>Wait Time:</b> <span id="modalWaitTime"></span></p>
                            </div>
                            <div class="modal-images">
                                <p><b>Image du véhicule:</b></p>
                                <img id="modalCarImage" src="" alt="Image du véhicule" style="max-width:100%; height:auto;">
                                <p><b>Image de la plaque:</b></p>
                                <img id="modalPlateImage" src="" alt="Image de la plaque" style="max-width:100%; height:auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<script src="{{ url_for('static', filename='js/dashboard.js') }}">




</script>
</body>
</html>
        