<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    


    <!-- Stylesheets -->
        
        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- jQuery UI - assurez-vous d'inclure à la fois le JS et le CSS -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    
        <!-- DataTables JS (Dépend de jQuery) -->
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    
       
    
        <!-- Leaflet JS (Pour les cartes) -->
 <!-- Inclure Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
 <!-- Inclure Chart.js -->
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/newdash.css') }}">
        <style>
          .dashboardsentiment {
            position: relative;
            
        }
        .dashboardsentiment h1 {
            color: rgb(0, 0, 0);
            font-size: 1rem; /* Taille de la police */
            font-weight: bold; /* Poids de la police */
            margin-bottom: 20px; /* Espacement entre le titre et la charte */
            text-align: center; /* Alignement du texte */
        }
        .sentiment-pie {
            position: absolute;
            top: 51%;
            left: 80%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(0 2px 0px #000000);
        }
        .sentiment-data-path:hover {
            cursor: pointer;
        }
        .sentiment-data-text {
            transition: transform .2s ease-in-out;
            fill: #302f2f;
        }
        .sentiment-data-text__value {
            font-size: 5rem; /* Réduire la taille du texte */
            transform: translateY(-.5rem);
            opacity: 0;
        }
        .sentiment-data-text__name {
            font-size: 1rem; /* Réduire la taille du texte */
            transform: translateY(.5rem);
            opacity: 0;
        }
        .sentiment-data-text--show {
            transform: translateY(0);
            animation: fadeSentimentTextIn .5s forwards;
        }
        .sentiment-legend-text {
            fill: #fff;
        }
        @keyframes fadeSentimentTextIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .dashboard-unique {
            display: grid;
            grid-template-columns: 1.2fr 1fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
            width: 99%;
            max-width: 1000px;
            height:99% ;
        }
        .box-unique {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            color: white;
            font-size: 1.2em;
            text-align: center;
        }
        .total-unique {
            grid-row: span 2;
            background-color: #e6f8ff;
            color: #003366;
            flex-direction: column;
        }
        .vehicules-unique {
            background-color: #e5ebed;
            color: #003366;
        }
        .taxis-unique {
            background-color: #f9f7bb;
            color: #333;
        }
        .pl-unique {
            background-color: #d8f8d1;
            color: #003366;
        }
        .capture-unique {
            background-color: #ff1801;
            color: #fff;
        }
        .total-unique .number-unique,
        .capture-unique .number-unique {
            font-size: 2em;
            font-weight: bold;
        }
        .capture-unique .fraction-unique {
            font-size: 1em;
        }
        </style>
</head>
<body>
   
    
    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='images/Arriere-plan.png') }}" alt="TotalEnergies" class="logo">
            </div>
            <ul class="sidebar-menu">
                <li class="sidebar-item active"><a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li class="sidebar-item"><a href="{{ url_for('charts_jour') }}"><i class="fas fa-chart-bar"></i> Statistiques</a></li>
                <li class="sidebar-item"><a href="{{ url_for('DragAndDrop') }}"><i class="fas fa-upload"></i> Upload Data</a></li>
                <li class="sidebar-item"><a href="{{ url_for('dashboard') }}"><i class="fas fa-coffee"></i> Coffe shop</a></li>
                <li class="sidebar-item"><a href="{{ url_for('PowerBiDash') }}"><i class="fas fa-map"></i> Vision BI</a></li>
                <li class="sidebar-item"><a href="{{ url_for('streamlite') }}"><i class="fas fa-map-marked-alt"></i> Rapports</a></li>
                <li class="sidebar-item"><a href="{{ url_for('ajoutUser') }}"><i class="fas fa-map-marked-alt"></i> Gestion D'utilisateurs</a></li>
            </ul>
        </nav>
        
        <div class="main-content">
            <header class="header">
                <div class="header-content">
                    <h1>DASHBOARD</h1>
                    <p>ANALYSE DES DONNEES</p>
                </div>
                <div class="station-title" id="station-title">
                    <!-- Le titre mis à jour apparaîtra ici -->
                </div>
                <div class="header-icons">
                    <i class="fas fa-bell"></i>
                    <div class="profile-pic">
                        <img src="{{ url_for('static', filename='images/Calque2.png') }}" alt="Profile">
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="top-container">
                    <div class="dropdown-container">
                        <div class="dropdown-group">
                            <label for="governorate">GOUVERNORAT</label>
                                <select id="governorate" name="governorate" onchange="updateTitle()">
                                    <option value="Grand Tunis">GRAND TUNIS</option>
                                    <option value="Ariana">ARIANA</option>
                                    <option value="Bizerte">BIZERTE</option>
                                    <!-- Ajoutez d'autres options ici -->
                                </select>
                            </div>
                            <div class="dropdown-group">
                                <label for="station-id">ID STATION</label>
                                <select id="station-id" name="station-id" onchange="updateTitle()">
                                    <option value="Total N9-03">TOTAL N9-03</option>
                                    <option value="Total N8-01">TOTAL N8-01</option>
                                    <option value="Total S5-04">TOTAL S5-04</option>
                                    <!-- Ajoutez d'autres options ici -->
                                </select>
                        </div>
                    </div>
                    
                    <div class="icon-container">
                        <button class="calendar-btn">
                            <i class="fas fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
                
                <div class="stats-container">
                    
                    <div class="stats-container">
                        
                        <div class="stat-card" id="notificationCard">
                            <div class="tnc-icon-bg">
                                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Clients Icon">
                            </div>
                            <div class="tnc-stat-details">
                                <h3>Notifications et Alertes</h3>
                                <div id="notificationMessages">
                                    <p class="tnc-stat-value">Aucune notification pour le moment.</p>
                                </div>
                                <button class="tnc-btn-info" id="viewDetailsButton" style="display: none;" onclick="openModal()">Voir les détails</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Modale pour afficher les détails de l'utilisateur -->
                    <div class="tnc-modal" id="userDetailsModal">
                        <div class="tnc-modal-dialog">
                            <div class="tnc-modal-content">
                                <div class="tnc-modal-header">
                                    <h5 class="tnc-modal-title">Détails de l'Utilisateur</h5>
                                    <button type="button" class="tnc-close" onclick="closeModal()">&times;</button>
                                </div>
                                <div class="tnc-modal-body" id="userDetailsBody">
                                    <!-- Détails de l'utilisateur à remplir dynamiquement -->
                                </div>
                            </div>
                        </div>
                    </div>
                
                    
                    
                    

                    <div class="dashboardsentiment">
                        <h1>Twitter Customer Sentiment Analysis Dashboard </h1>
                        <div id="sentiment-pie-container" class="sentiment-pie"></div>
                    </div>
                    
                </div>
                
                               
                    <div id="filter-container">
                        <div id="zone-filters">
                            <button class="zone-tab active" data-zone="Pompe" onclick="showZone('Pompe')">Pompe</button>
                            <button class="zone-tab" data-zone="Lavage" onclick="showZone('Lavage')">Lavage</button>
                            <button class="zone-tab" data-zone="Air" onclick="showZone('Air')">Air</button>
                        </div>
                        <div id="date-filter-container">
                            <label for="date-filter">
                                <i class="fas fa-calendar-alt calendar-icon"></i>
                                <input type="date" id="dateInput">
                            </label>
                            <button id="filter-button">Filtrer</button>
                        </div>
                    </div>
                
                    <div class="filter-section">
                        <div class="stats-container1" id="zone-container">
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #0087fe;">
                                    <img src="{{ url_for('static', filename='images/Calquecamion.png') }}" alt="Small Truck Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Small Truck</span>
                                    <span class="stat-value" id="small-truck-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #69d1fa;">
                                    <img src="{{ url_for('static', filename='images/Calquemoto.png') }}" alt="Motorcycle Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Motorcycle</span>
                                    <span class="stat-value" id="motorcycle-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #83c3cd;">
                                    <img src="{{ url_for('static', filename='images/Calquebigtruck.png') }}" alt="Big Truck Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Big Truck</span>
                                    <span class="stat-value" id="big-truck-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #225e93;">
                                    <img src="{{ url_for('static', filename='images/claqueCar.png') }}" alt="Car Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Car</span>
                                    <span class="stat-value" id="car-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #fdd700;">
                                    <img src="{{ url_for('static', filename='images/claquetaxi.png') }}" alt="Taxi Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Taxi</span>
                                    <span class="stat-value" id="taxi-value">0</span>
                                </div>
                            </div>
                            <div class="stat-card" data-zone="Pompe">
                                <div class="icon-bg" style="background-color: #2abfc2;">
                                    <img src="{{ url_for('static', filename='images/claqueCM.png') }}" alt="Construction Machine Icon">
                                </div>
                                <div class="stat-details">
                                    <span>Construction Machine</span>
                                    <span class="stat-value" id="construction-machine-value">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                
                <h1>Daily Statics</h1>
                

                <div class="container-charts">
                    
                    
                    
                    
                    <div class="chart-container">
                        <div class="dashboard-unique">
                            <div class="box-unique total-unique">
                                <div>
                                    <div class="number-unique">1025</div>
                                    <div>Total des véhicules</div>
                                </div>
                            </div>
                            <div class="box-unique vehicules-unique">
                                <div>
                                    <div>Débit Véhicules<br>J.Ouvrable</div>
                                    <div class="number-unique">865</div>
                                </div>
                            </div>
                            <div class="box-unique taxis-unique">
                                <div>
                                    <div>Débit Taxi</div>
                                    <div class="number-unique">263</div>
                                </div>
                            </div>
                            <div class="box-unique pl-unique">
                                <div>
                                    <div>Débit PL</div>
                                    <div class="number-unique">160</div>
                                </div>
                            </div>
                            <div class="box-unique capture-unique">
                                <div>
                                    <div>Taux de captation sur<br>Route Principale</div>
                                    <div class="number-unique">1025</div>
                                    <div class="fraction-unique">/5214</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-container-green">
                        <h2 class="chart-title-green">Top Fidèles Clients</h2>
                        <div id="pyramid-chart-container" class="green-chart">
                            <!-- Place your chart content here -->
                        </div>
                    </div>
            </div>

            <div class="dashboard-container-unique">
                <!-- Section Graphique -->
                <div class="chart-container-unique">
                    <div >
                        <h2 class="chart-title">Nombre Total de Véhicules par Heure</h2>
                        <canvas id="vehiclesHourChart"></canvas>
                    </div>
                </div>
                <!-- Section Carte -->
                <div class="map-container-unique">
                    <h2 class="map-title-unique">Total Tunisie</h2>
                    <div id="mapCanvas" class="map-canvas-unique"></div>
                </div>
            </div>
        





                <div id="filters">
                    <label for="type-filter">Station Area:
                        <select id="type-filter">
                            <option value="">Tous</option>
                            <option value="Entrée">Entrée</option>
                            <option value="Sortie">Sortie</option>
                            <option value="Pompes">Pompes</option>
                            <option value="Air">Air</option>
                            <option value="Lavage">Lavage</option>
                        </select>
                    </label>
                    <label for="date-filter">Date:
                        <input type="date" id="date-filter">
                    </label>
                    <button id='button-id'>Filtrer</button>
                </div>

                <div class="dashboard-container">
                    <table id="example" class="display">
                        <thead>
                            <tr>
                                <th>track_id</th>
                                <th>class</th>
                                <th>license_plate_text</th>
                                <th>score LP</th>
                                <th>pompes_info</th>
                                <th>date d'entrée</th>
                                <th>date de sortie</th>
                                <th>wait_time</th>
                                <th>Image du véhicule</th>
                                <th>Image de la plaque</th>
                                <th>TotalZone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td><a href="#" class="track-info" data-track-id="{{ row['track_id'] }}">{{ row['track_id'] }}</a></td>
                                <td>{{ row['class'] }}</td>
                                <td>{{ row['license_plate_text'] }}</td>
                                <td>{{ row['score LP'] }}</td>
                                <td>{{ row['pompes_info'] }}</td>
                                <td>{{ row['date d\'entrée'] }}</td>
                                <td>{{ row['date de sortie'] }}</td>
                                <td>{{ row['wait_time'] }}</td>
                                <td>
                                    {% if row['Car Image'] %}
                                        <a href="#" onclick="openImageWindow('{{ url_for('static', filename=row['Car Image']) }}');">Voir Image du véhicule</a>
                                    {% else %}
                                        Pas d'image
                                    {% endif %}
                                </td>
                                <td>
                                    {% if row['License Plate Image'] %}
                                        <a href="#" onclick="openImageWindow('{{ url_for('static', filename=row['License Plate Image']) }}');">Voir Image de la plaque</a>
                                    {% else %}
                                        Pas d'image
                                    {% endif %}
                                </td>
                                <td>{{ row['ZoneTotal'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                   
                </div>

                <div id="detailsModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Détails de la Piste</h2>
                        <div class="modal-body">
                            <div class="modal-info">
                                <p><b>Track ID:</b> <span id="modalTrackId"></span></p>
                                <p><b>Class:</b> <span id="modalClass"></span></p>
                                <p><b>LP Text:</b> <span id="modalLPText"></span></p>
                                <p><b>Score LP:</b> <span id="modalScoreLP"></span></p>
                                <p><b>Date d'entrée:</b> <span id="modalEntryDate"></span></p>
                                <p><b>Date de sortie:</b> <span id="modalExitDate"></span></p>
                                <p><b>Wait Time:</b> <span id="modalWaitTime"></span></p>
                            </div>
                            <div class="modal-images">
                                <p><b>Image du véhicule:</b></p>
                                <img id="modalCarImage" src="" alt="Image du véhicule" style="max-width:100%; height:auto;">
                                <p><b>Image de la plaque:</b></p>
                                <img id="modalPlateImage" src="" alt="Image de la plaque" style="max-width:100%; height:auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script src="{{ url_for('static', filename='js/dashboard.js') }}">
 var ctx = document.getElementById('chartCanvas').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
                datasets: [{
                    label: 'Nombre Total de Véhicules',
                    data: [5, 10, 15, 20, 25, 30, 35, 30, 25, 20, 15, 10, 5, 15, 25, 35, 45, 35, 25, 15, 10, 5, 3, 2],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <!-- Initialiser Leaflet.js -->
    <script>
        // Initialiser la carte centrée sur la Tunisie
        var map = L.map('mapCanvas').setView([33.8869, 9.5375], 6); // Vue centrée sur la Tunisie avec un zoom de 6

        // Ajouter une couche de tuiles (tiles layer) à la carte
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Ajouter des marqueurs avec des popups
        var locations = [
            { coords: [36.8065, 10.1815], popup: "Tunis, la capitale de la Tunisie" },
            { coords: [36.7256, 10.3157], popup: "Sidi Bou Said, une ville côtière pittoresque" },
            { coords: [33.8869, 10.0982], popup: "Djerba, une île méditerranéenne" },
            { coords: [34.7333, 10.7600], popup: "Gabès, une ville portuaire" },
            { coords: [35.6781, 10.0963], popup: "Monastir, une ville historique" }
        ];

        locations.forEach(function(location) {
            L.marker(location.coords).addTo(map)
                .bindPopup(location.popup);
        });





        const sentimentPieData = [
    {name: 'Positive', value: {{ sentiment_counts.get('positive', 0) }}, color: '#33F100'},
    {name: 'Negative', value: {{ sentiment_counts.get('negative', 0) }}, color: '#FF0000'},
    {name: 'Neutral', value: {{ sentiment_counts.get('neutral', 0) }}, color: '#00F3FF'}
];
bakeSentimentDonut(sentimentPieData);

function bakeSentimentDonut(data) {
    let activeSegment;
    const sortedData = data.sort((a, b) => b.value - a.value),
        viewWidth = 500,
        viewHeight = 230,
        svgWidth = viewHeight,
        svgHeight = viewHeight,
        thickness = 40,
        colorArray = sortedData.map(k => k.color),
        el = d3.select('#sentiment-pie-container'),
        radius = Math.min(svgWidth, svgHeight) / 2,
        color = d3.scaleOrdinal().range(colorArray);

    // Check if the container exists
    if (el.empty()) {
        console.error("Container with ID 'sentiment-pie-container' not found.");
        return;
    }

    const max = d3.max(sortedData, (d) => d.value);

    // Remove any existing SVG to avoid duplicates
    el.selectAll("svg").remove();

    const svg = el.append('svg')
        .attr('viewBox', `0 0 ${viewWidth + thickness} ${viewHeight + thickness}`)
        .attr('class', 'sentiment-pie')
        .attr('width', viewWidth)
        .attr('height', svgHeight);

    const g = svg.append('g')
        .attr('transform', `translate(${(svgWidth / 2) + (thickness / 2)}, ${(svgHeight / 2) + (thickness / 2)})`);

    const arc = d3.arc()
        .innerRadius(radius - thickness)
        .outerRadius(radius);

    const arcHover = d3.arc()
        .innerRadius(radius - (thickness + 5))
        .outerRadius(radius + 8);

    const pie = d3.pie()
        .value(function (d) { return d.value; })
        .sort(null);

    const path = g.selectAll('path')
        .data(pie(sortedData))
        .enter()
        .append('g')
        .attr('class', 'sentiment-data-group')
        .each(function (pathData) {
            const group = d3.select(this);

            group.append('text')
                .text(pathData.data.value)
                .attr('class', 'sentiment-data-text sentiment-data-text__value')
                .attr('text-anchor', 'middle')
                .attr('dy', '1rem');

            group.append('text')
                .text(pathData.data.name)
                .attr('class', 'sentiment-data-text sentiment-data-text__name')
                .attr('text-anchor', 'middle')
                .attr('dy', '3.5rem');

            if (pathData.value === max) {
                d3.select(this).select('.sentiment-data-text__value')
                    .classed('sentiment-data-text--show', true);

                d3.select(this).select('.sentiment-data-text__name')
                    .classed('sentiment-data-text--show', true);
            }

        })
        .append('path')
        .attr('d', arc)
        .attr('fill', (d) => color(d.data.name))
        .attr('class', 'sentiment-data-path')
        .on('mouseover', function () {
            const _thisPath = this,
                parentNode = _thisPath.parentNode;

            if (_thisPath !== activeSegment) {

                activeSegment = _thisPath;

                d3.selectAll('.sentiment-data-text')
                    .classed('sentiment-data-text--show', false);

                d3.selectAll('.sentiment-data-path')
                    .transition()
                    .duration(250)
                    .attr('d', arc);

                d3.select(_thisPath)
                    .transition()
                    .duration(250)
                    .attr('d', arcHover);

                d3.select(parentNode).select('.sentiment-data-text__value')
                    .classed('sentiment-data-text--show', true);
                d3.select(parentNode).select('.sentiment-data-text__name')
                    .classed('sentiment-data-text--show', true);
            }

        })
        .each(function (d) {
            if (d.value === max) {
                d3.select(this)
                    .attr('d', arcHover);
                activeSegment = this;
            }
            this._current = d;
        });

    const legendRectSize = 15;
    const legendSpacing = 10;

    const legend = svg.selectAll('.sentiment-legend')
        .data(color.domain())
        .enter()
        .append('g')
        .attr('class', 'sentiment-legend')
        .attr('transform', function (d, i) {
            const itemHeight = legendRectSize + legendSpacing;
            const offset = legendRectSize * color.domain().length;
            const horz = svgWidth + 80;
            const vert = (i * itemHeight) + legendRectSize + (svgHeight - offset) / 2;
            return `translate(${horz}, ${vert})`;
        });

    legend.append('circle')
        .attr('r', legendRectSize / 2)
        .style('fill', color);

    legend.append('text')
        .attr('x', legendRectSize + legendSpacing)
        .attr('y', legendRectSize - legendSpacing)
        .attr('class', 'sentiment-legend-text')
        .text((d) => d);
}

// Debugging function to ensure the container exists and is visible
document.addEventListener("DOMContentLoaded", function() {
    const container = document.getElementById('sentiment-pie-container');
    if (container) {
        console.log('Container exists');
    } else {
        console.error('Container does not exist');
    }
});

</script>
</body>
</html>
        