<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newdash.css') }}">
</head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='images/Arriere-plan.png') }}" alt="TotalEnergies" class="logo">
            </div>
            <ul class="sidebar-menu">
                <li class="sidebar-item active"><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li class="sidebar-item"><a href="#"><i class="fas fa-chart-bar"></i> Statistiques</a></li>
                <li class="sidebar-item"><a href="#"><i class="fas fa-upload"></i> Upload Data</a></li>
                <li class="sidebar-item"><a href="#"><i class="fas fa-coffee"></i> Coffe shop</a></li>
                <li class="sidebar-item"><a href="#"><i class="fas fa-map"></i> Total Zone</a></li>
                <li class="sidebar-item"><a href="#"><i class="fas fa-map-marked-alt"></i> Maps</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <header class="header">
                <div class="header-content">
                    <h1>DASHBOARD</h1>
                    <p>ANALYSE DES DONNEES</p>
                </div>
                <div class="header-icons">
                    <i class="fas fa-bell"></i>
                    <div class="profile-pic">
                        <img src="{{ url_for('static', filename='images/Calque2.png') }}" alt="Profile">
                    </div>
                </div>
            </header>
            <div class="content">
            </div>
        </div>
    </div>
</body>
</html>
